.CategoryItem {
    .icon {
        transition: .3s ease-in-out;
        border-radius: 100%;
        &:hover {
            border: 1px solid #999;
            &.selected {
                border: 1px solid green;
            }
        }
    }
}