
.FindRolex {
    .VideoBox {
        position: relative;
        width: 100%;
        height: 340px;

        video {
            object-fit: cover;
            width: 100%;
            height: 100%;
            filter: brightness(0.5);
        }

        .VideoText {
            position: absolute;
            font-weight: 400;
            color: white;
            margin: 0;
            left: 50%;
            transform:translateX(-50%);
        }

        h1 {
            color: #212121;
            top: 120px;
            line-height: 1.1;
            font-size: calc(1.5625rem + 1.5625 * ((100vw - 20rem) / 100));
        }

        h3 {
            color: #212121;
            top: 190px;
            line-height: 1.3;
            letter-spacing: 5px;
            font-size: calc(0.75rem + 0.5 * ((100vw - 20rem) / 100));

        }
    }

    .ContentBox {
        background-color: #f7f7f7;
        width: 100%;
    }
}