.FindRolex {
  .VideoBox {
    position: relative;
    width: 100%;

    video {
      object-fit: cover;
      width: 100%;
      height: 340px;
      filter: brightness(0.5);
    }

    .VideoText {
      position: absolute;
      font-weight: 400;
      color: white;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    h1 {
      color: #212121;
      top: 120px;
      line-height: 1.1;
      font-size: calc(1.5625rem + 1.5625 * ((100vw - 20rem) / 100));
    }

    h3 {
      color: #212121;
      top: 190px;
      line-height: 1.3;
      letter-spacing: 5px;
      font-size: calc(0.75rem + 0.5 * ((100vw - 20rem) / 100));
    }
  }

  .ContentBox {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;

    .sharebox {
      padding-top: 100px;
      height: 302px;
    }
  }
  .footer {
    width: 100%;
    height: 772px;
    background-color: #212121;
  }

  .page {
    position: relative;
    padding-top: 20px;
    text-align: center;

    svg {
      margin-left: 20px;
      width: 14px;
      height: 14px;
      &:hover {
        fill: #11784a;
      }
    }
  }
}
