.LikeList {
  position: relative;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  .delete {
    display: none;
  }
  .cancel {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 5;
    margin: 10px;
    &:hover {
      fill: rgb(18, 120, 74);
    }
  }

  &:hover {
    img {
      transform: scale(1.03);
      transition: 0.3s ease-in;
    }
  }

  img {
    width: 100%;
    transform: scale(1);
    transition: 0.3s ease-in;
  }
  h2 {
    font-family: var(--heading-font-family);
    letter-spacing: var(--heading-letter-spacing);
    font-weight: 700;
    line-height: 1.3;
    font-size: calc(0.625rem + 0.125 * ((100vw - 20rem) / 100));
    margin: 5px 0px;
  }
  span {
    font-family: var(--text-font-family);
    letter-spacing: 0.3px;
    font-weight: var(--text-font-weight);
    font-size: 0.6875rem;
    margin: 0px;
  }
}
