.TopNav {
  height: 80px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  color: white;
  transition: all 0.5s ease-out;
  border: 1px solid red;

  &:hover {
    color: black;
    background-color: white;
    transition: all 0.5s ease-out;
  }
}

.ScrollDown {
  top: -80px;
  transition: all 0.5s ease-out;
}

.ScrollUp {
  top: 0;
  transition: all 0.5s ease-out;
  background-color: white;
}
