.DisplayWithHeart {
    .DivForMargin {
        width: 60vw;
        margin: 10vw auto;
    
        ul{
            list-style: none;
            overflow-x: scroll;
            li {
                // display: flex;
                // justify-content: space-between;
                .ListGrid {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-gap: 30px;
                    grid-template-areas:
                    "main0 main1 main2 main3 main4 main5";  

                    .Card {
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        align-items: center;
                        background-color: white;
                        cursor: pointer;
                        padding-left: 51.9px;
                        img {
                            height: 390px;
                            width: 311.4px;
                            transform: scale(1);
                            transition: all 0.3s ease-in 0s;
            
                        }
            
                        svg {
                            position: absolute;
                            left: 0;
                            width: 14px;
                            height: 14px;
                            padding: 15px;
            
                            fill: transparent;
                            stroke: rgb(33, 33, 33);
                            stroke-width: 1px;
                            overflow: visible;
                        }
            
                        svg:hover {
                            stroke: gray;
                        }
            
            
                        &:hover {
                            img {
                                transform: scale(1.03);
                                transition: all 0.3s ease-in 0s;
                            }
                        }
            
                        div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
            
                        h2 {
                            margin: 5px 0;
                            font-size: calc(0.625rem + 0.125 * ((100vw - 20rem) / 100));
                            letter-spacing: var(--heading-letter-spacing);
                            font-weight: 700;
                            line-height: 1.3;
                        }
            
                        span {
                            letter-spacing: 0.3px;
                            font-weight: var(--text-font-weight);
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
    }
    // .DivForMargin {
    //     margin: 10vw 0px;
    //     ul {
    //         display: grid;
    //         grid-template-columns: repeat(6, 1fr);
    //         grid-auto-columns: 311.4px;
    //         padding-left: 51.9px;
    //         overflow-x: scroll;
    //         overflow-y: hidden;
    //         // white-space: nowrap;
    //         // grid-auto-flow: column;
    //         li {
    //             list-style: none;
    //             display: flex;
    //             justify-content: space-between;
    //             img {
    //                 height: 390px;
    //                 width: 311.4px;

    //                 transform: matrix(1, 0, 0, 1, 0, 0);
    //                 transform-origin: 155.7px 195px;
    //                 transition-duration: 0.3s;
    //                 transition-timing-function: cubic-bezier(1, 0.7, 0.5, 1);
    //             }
    //         }
    //     }
    // }
}