.SettingRolex {
  * {
    border: 1px solid black;
  }
  .settingZone {
    height: 844px;
    background-image: url("https://content.rolex.com/dam/2019/bg/model-cover-background-yellow-gold.jpg?imwidth=1920");
    object-fit: cover;
    background-position: right;
    .configurator {
      height: 625.2px;
      margin-top: 112px;
      .configureStage {
        text-align: center;
        margin-top: 40px;
        color: white;
        div:first-of-type,
        :nth-of-type(2) {
          margin-bottom: 4px;
        }
        div:first-of-type {
          letter-spacing: 0.25em;
          font-weight: 300;
          font-size: calc(0.75rem + 0.5 * ((100vw - 20rem) / 100));
          line-height: 1.3;
        }
        div:nth-of-type(2) {
          font-weight: 700;
          line-height: 1.3;
          font-size: calc(0.75rem + 0.125 * ((100vw - 20rem) / 100));
        }
        div:last-of-type {
          font-weight: 400;
          font-family: var(--text-font-family);
          letter-spacing: 0px;
          font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 100));
          line-height: 1.3;
        }
      }
    }
    .btnSection {
      height: 105px;
      display: flex;
      justify-content: center;
      align-items: center;
      .btnContainer {
        width: 572.4px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          text-decoration: none;
          outline: none;
          display: flex;
          align-items: center;
          justify-content: space-around;
          svg {
            fill: white;
          }
        }
        button:first-of-type,
        :nth-of-type(2) {
          background-color: transparent;
          color: white;
          border: none;
          transition: opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0s,
            visibility 0s linear 0.6s;
          visibility: visible;
          opacity: 1;
          &:hover {
            opacity: 0.5;
            transition: opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0s,
              visibility 0s linear 0.6s;
          }
        }
        button:first-of-type {
          width: 103.9px;
          height: 39px;
        }
        button:nth-of-type(2) {
          width: 89.2px;
          height: 39px;
          margin-right: 16px;
        }
        button:last-of-type {
          width: 154.2px;
          height: 40px;
          padding: 11px 30px;
          border-radius: 30px;
          font-size: 1rem;
          letter-spacing: 0.3px;
          line-height: 16px;
          border: 1px solid white;
          background-color: rgba(0, 0, 0, 0);
          color: white;
          transition: opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0s,
            visibility 0s linear 0.6s;
          visibility: visible;
          opacity: 1;
          &:hover {
            svg {
              fill: rgb(18, 120, 74);
            }
            padding: 11px 30px;
            border-radius: 30px;
            font-size: 1rem;
            letter-spacing: 0.3px;
            line-height: 16px;
            border: 1px solid white;
            background-color: white;
            color: rgb(18, 120, 74);
            transition: opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0s,
              visibility 0s linear 0.6s;
          }
        }
        .emptyBuffer {
          width: 209.1px;
          height: 30px;
        }
      }
    }
  }
  footer {
    height: 773.4px;
    text-align: center;
    font-size: 100px;
  }
}
